.dp100(style='padding-bottom: 5px;')
    span(style='float: right;')
        | XP
        input#xp(type='text', size='5', value='', name='xp')
      input#charname(value='', size='12', type='text')
      span#race_select
    #moralitypart.dp100(style='padding-bottom: 5px;')
      select#alignment(style='float: right;')
      | HP
      input#hp(value='', type='text', style='width: 25px;')
      select#deity(style='width: 105px; vertical-align: top;')
    #middlepart
      #abilitiespart.dp25(style='padding-bottom: 5px; float: left;')
        table#abilities_table(border='0')
      #classespart.dp75
    br(style='clear: both;')
    .dp100
      #skillspart.dp45(style='float: right;')
        table#skills_table(style='width: 100%;', border='0')
          tr
            td(colspan='3')
              span(style='float: right;')
                | Pts left:
                span#skill_pts_remaining 0
              | Max ranks:
              span#max_ranks
          tr(onclick='\', languages='languages', bgcolor='#8DC3E9')
            td(colspan='3', style='vertical-align: middle;')
              a.fake_link
                span#languages_expand_flag(style='float: right;')
                  img(src='/charmgr/images/collapsed.png')
                | Languages
          tr#languages
            td(colspan='3')
              table#language_table(width='100%', style='border-collapse: collapse;')
      #waspart.dp50
        #weaponspart.dp100
          #char_weapons
          #new_weapon.new_weapon
          hr(width='80%')
        #armorpart.dp100
          #char_armors
          #new_armor.new_weapon
          hr(width='80%')
        #shieldpart.dp100
          #char_shields
          #new_shield.new_weapon
    .clear
